service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{room} {
      allow read, create: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == resource.data.owner;
    }
  }
}
